{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always"
}
